In [2]:
import sys
sys.path.append("/home/jarlehti/projects/gradu")

In [21]:
import os
import itertools
from src.utils.preprocess_dataset import get_adult_train_small, get_adult_train_large
from src.napsu_mq.dataframe_data import DataFrameData
from src.napsu_mq.mst import MST_selection, Domain, Dataset
from src.napsu_mq.marginal_query import FullMarginalQuerySet
from src.utils.query_utils import calculate_query_number

In [5]:
CURRENT_FOLDER = os.path.dirname(os.path.dirname(os.path.abspath(__name__)))
DATASETS_FOLDER = os.path.join(CURRENT_FOLDER, "data", "datasets")

In [18]:
adult_small = get_adult_train_small(DATASETS_FOLDER)
adult_large = get_adult_train_large(DATASETS_FOLDER)

In [20]:
adult_small

           age education-num  ... hours-per-week compensation
0      30 - 40            13  ...        40 - 50            0
1      50 - 60            13  ...        10 - 20            0
2      30 - 40             9  ...        40 - 50            0
3      50 - 60             7  ...        40 - 50            0
4      20 - 30            13  ...        40 - 50            0
...        ...           ...  ...            ...          ...
30157  20 - 30            12  ...        30 - 40            0
30158  40 - 50             9  ...        40 - 50            1
30159  50 - 60             9  ...        40 - 50            0
30160  20 - 30             9  ...        20 - 30            0
30161  50 - 60             9  ...        40 - 50            1

[30162 rows x 6 columns]

In [12]:
def calculate_canonical_queries(data, epsilon, column_feature_set=[]):
    dataframe = DataFrameData(data)
    n, d = dataframe.int_array.shape
    delta = (n ** (-2))
    domain_key_list = list(dataframe.values_by_col.keys())
    domain_value_count_list = [len(dataframe.values_by_col[key]) for key in domain_key_list]

    domain = Domain(domain_key_list, domain_value_count_list)

    query_sets = MST_selection(Dataset(dataframe.int_df, domain), epsilon, delta,
                                   cliques_to_include=column_feature_set)

    queries = FullMarginalQuerySet(query_sets, dataframe.values_by_col)
    query_list = queries.flatten()
    queries = queries.get_canonical_queries()
    query_number = calculate_query_number(queries.queries)
    return query_number

In [17]:
print(calculate_canonical_queries(adult_small, 8))

(30162, 6)
Dataframe data n: 30162
Dataframe data d: 6
Calculating canonical queries, clique_set length: 12

  0%|                                                           | 0/12 [00:00<?, ?it/s]
70it [00:00, 37573.75it/s]

7it [00:00, 31036.08it/s]

2it [00:00, 15887.52it/s]

32it [00:00, 21317.94it/s]

10it [00:00, 36002.61it/s]

14it [00:00, 21935.10it/s]

16it [00:00, 49200.05it/s]

70it [00:00, 35002.54it/s]

14it [00:00, 21213.97it/s]

10it [00:00, 31871.61it/s]

2it [00:00, 20971.52it/s]
100%|█████████████████████████████████████████████████| 12/12 [00:00<00:00, 476.26it/s]
100%|████████████████████████████████████████████████| 5/5 [00:00<00:00, 165130.08it/s]

Calculating new queries, not_original_clique_queries length: 41

100%|███████████████████████████████████████████████| 41/41 [00:00<00:00, 42439.90it/s]

176

In [19]:
print(calculate_canonical_queries(adult_large, 1))

(30162, 9)
Dataframe data n: 30162
Dataframe data d: 9
Calculating canonical queries, clique_set length: 18

  0%|                                                           | 0/18 [00:00<?, ?it/s]
70it [00:00, 38110.24it/s]

2it [00:00, 6442.86it/s]

16it [00:00, 24555.02it/s]

14it [00:00, 19411.65it/s]

10it [00:00, 12725.44it/s]

4it [00:00, 14463.12it/s]

70it [00:00, 30134.59it/s]

2it [00:00, 19784.45it/s]

2it [00:00, 13595.80it/s]

7it [00:00, 19077.41it/s]

14it [00:00, 18887.18it/s]

2it [00:00, 18600.02it/s]

4it [00:00, 10280.16it/s]

10it [00:00, 44667.77it/s]

32it [00:00, 32498.24it/s]

7it [00:00, 18736.52it/s]

70it [00:00, 32239.08it/s]
100%|█████████████████████████████████████████████████| 18/18 [00:00<00:00, 393.02it/s]
100%|█████████████████████████████████████████████████| 8/8 [00:00<00:00, 70640.91it/s]

Calculating new queries, not_original_clique_queries length: 72

100%|███████████████████████████████████████████████| 72/72 [00:00<00:00, 39798.35it/s]

240

In [24]:
adult_small_full_marginal_set = list(itertools.combinations(adult_small.columns, 2))
print(calculate_canonical_queries(adult_small, 1, adult_small_full_marginal_set))

(30162, 6)
Dataframe data n: 30162
Dataframe data d: 6

/home/local/jarlehti/projects/gradu/src/napsu_mq/mst.py:130: RuntimeWarning: divide by zero encountered in double_scalars
  epsilon = np.sqrt(8 * rho / (r - 1))

Calculating canonical queries, clique_set length: 22

  0%|                                                           | 0/22 [00:00<?, ?it/s]
7it [00:00, 27413.75it/s]

20it [00:00, 25614.07it/s]

2it [00:00, 15978.30it/s]

70it [00:00, 28138.90it/s]

20it [00:00, 34649.35it/s]

14it [00:00, 22412.31it/s]

32it [00:00, 28496.33it/s]

10it [00:00, 19663.87it/s]

16it [00:00, 23950.34it/s]

20it [00:00, 25435.44it/s]

160it [00:00, 37799.29it/s]

70it [00:00, 35065.24it/s]

112it [00:00, 25381.57it/s]

100it [00:00, 25687.80it/s]

32it [00:00, 16677.15it/s]

10it [00:00, 14779.08it/s]

2it [00:00, 4905.62it/s]

4it [00:00, 8172.05it/s]

20it [00:00, 17271.17it/s]

160it [00:00, 21021.45it/s]

14it [00:00, 14698.44it/s]
100%|█████████████████████████████████████████████████| 22/22 [00:00<00:00, 291.35it/s]
100%|██████████████████████████████████████████████| 15/15 [00:00<00:00, 291271.11it/s]

Calculating new queries, not_original_clique_queries length: 41

100%|███████████████████████████████████████████████| 41/41 [00:00<00:00, 14277.00it/s]

669